.row {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    width: 220px;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .row {
        width: 100%;
        flex-direction: row;
    }

    .row > * {
        flex: 1;
    }
}
