.formPanel {
    background: var(--ba-ui-bg-default);
    border: 1px solid var(--ba-ui-bg-float);
    border-radius: 6px;
    padding: 14px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
