.logo {
    font-size: 1.25em;
    font-weight: 700;
    color: var(--ba-ui-fg-accent);
    padding: 4px 12px 12px;
    text-transform: uppercase;
    text-decoration: none;

    & strong {
        letter-spacing: 0.25em;
    }
}
