.item {
    padding: var(--size-1) var(--size-3);
    font-size: var(--font-size-0);
    color: var(--ba-ui-fg-subtle);
    cursor: default;
    border-left: var(--border-size-2) solid transparent;
}

.item[data-active="true"] {
    color: var(--ba-ui-fg-default);
    background: var(--ba-ui-bg-active);
    border-left-color: var(--ba-ui-fg-accent);
}
