.card {
    background: var(--ba-ui-bg-panel);
    border-radius: var(--radius-1);
    padding: var(--size-2) var(--size-3);
    font-size: var(--font-size-0);
    color: var(--ba-ui-fg-subtle);
    flex: 1;
}
