.input {
    background: var(--ba-ui-bg-panel);
    border: var(--border-size-1) solid var(--ba-ui-bg-float);
    border-radius: var(--radius-1);
    padding: var(--size-2) var(--size-2);
    font-size: var(--font-size-0);
    color: var(--ba-ui-fg-default);
    outline: none;
    width: 100%;
}

.input:focus {
    border-color: var(--ba-ui-fg-accent);
}
